.image-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-row figure {
	text-align: center;
	margin: 0 10px;
}

.image-row img {
	max-width: 50%;
	height: auto;
}

.image-row figcaption {
	margin-top: 5px;
	font-style: italic;
}

.img {
	height: 74px;
	width: 60px;
}

.image-row {
	height: 250px;
	border: 2px solid black;
}