/* Navigation-page */
nav {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: #2874f0;
  }
  
  .main_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	font-size: 16px;
  }
  
  .nav-ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 9px;
  }
  
  
  .nav-anchor {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	gap: 0.5rem;
  }
  
  .nav-anchor:hover {
	color: lightgray;
  }
  
  .nav-img {
	width: 20px;
	height: 20px;
  }
  
  .srch-btn {
	display: flex;
	align-items: center;
  }
  
  .right {
	display: flex;
  }
  
  .search-input {
	padding: 8px;
	border-radius: 10px;
	border: none;
	background-color: #fff;
	margin-left: 15px;
	width: 566px;
  }
  
  .right {
	margin-left: auto;
  }
  
  @media (max-width: 768px) {
	nav {
	  height: auto;
	  width: 100%;
	}
  
	.main_nav {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.nav-ul {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.nav-li {
	  margin-right: 0;
	  margin-bottom: 10px;
	}
  
	.right {
	  margin-left: 0;
	}
  
	.srch-btn {
	  margin-left: 0;
	  margin-top: 10px;
	}
  
	.search-input {
	  width: 100%;
	  max-width: 100%;
	  margin-left: 0;
	}
  }